.editor{
    width: 100%;
    height: 100%;
    display: flex;
}

.edit{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
    resize: none;
    border: none;

    &:focus, &:active{
        outline: none;
    }
}

.doc{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    background: lightgray;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

@media only screen and (min-width: 992px){
    .edit{
        width: 50%;
    }

    .doc{
        width: 50%;
        border-left: 2px solid lightgray;
    }
}

