.editor{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

.edit{
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px;
    text-align: left;
    resize: none;
    border: none;
    font-size: 1.2em;
    
    background-color: var(--bg-color);
    color: var(--content-1);

    &:focus, &:active{
        outline: none;
    }
}

.doc{
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px;
    text-align: left;
    overflow-y: scroll;

    table{
        border: 2px solid var(--content-1);
        border-collapse: collapse;
        
        th,td{
            padding: 5px;
            border: 2px solid var(--content-1);
        }
    }

    pre{
        background-color: var(--bg-color-alt);
        padding: 0px 5px;
        border-radius: 2px;
    }

    code{
        background-color: var(--bg-color-alt);
        padding: 0px 5px;
        border-radius: 2px;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    background: lightgray;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

@media only screen and (min-width: 992px){
    .edit{
        width: 50%;
    }

    .doc{
        width: 50%;
    }
}

