$color-shadow: #eeeeee;

.heading {
    width: 100%;
    height: 120px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid $color-shadow;
}

.heading-text{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    span{
        font-size: 1.5em;
    }
}

.btn-bar{
    width: 100%;
    margin: 10px auto;

    display:flex;
    justify-content: center;

    img{
        margin: 0 10px;
        width: 32px;
        height: 32px;
        padding: 4px;

        &:hover, &:active{
            box-shadow: 0px 0px 5px $color-shadow;
            cursor: pointer;
        }

        &:active{
            background-color: $color-shadow;
        }
    }
}


@media only screen and (min-width: 576px){
    .heading{
        height: 80px;
    }

    .heading-text{
        margin-left: 0;
        height: 80px;
    }   

    .btn-bar{
        width: 100px;
        margin-right: 0;
        
        img{
            width: 24px;
            height: 24px;
        }
    }
}